body {
  background-color: #303b44;
}

header {
  line-height: 0.7;
  text-align: center;
  color: rgb(172, 218, 172);
  background-color: #6b9dc5;
  padding: 15px;
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
}

h1 {
  color: black;
  font-size: 50px;
  margin: 30px;
  font-family: "Smooch Sans", serif;
}

h2 {
  color: black;
  font-size: 40px;
  margin: 30px;
  padding: 15px;
  border-style: dashed;
  border-width: 5px;
  border-radius: 20px;
  border-color: rgb(28, 75, 67);
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  background-color: #92c2d4;
}

h3 {
  font-size: 30px;
  margin: 30px;
  border-width: 5px;
}

.navbar {
  overflow: hidden;
  background-color: #92c2d4;
  font-family: Arial;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
}

.navbar a {
  float: left;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  margin: 15px;
  float: left;
  overflow: hidden;
  box-shadow: 5px 5px 20px 13px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: rgb(1, 27, 1);
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Smooch Sans", serif;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #3c5f7e;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  transition: 0.3s;
  font-size: 10px;
  border-radius: 5px;
  padding: 5px;
  display: none;
  position: absolute;
  background-color: #c8e6ff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: "Smooch Sans", serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dropdown-content a {
  border-radius: 15px;
  font-size: 20px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #223c52;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  color: white;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#quiz {
  overflow: hidden;
  background-color: #92c2d4;
  font-family: Arial;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: #333333;
}

#question {
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  margin-top: 10px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0b7ef1;
  color: #030a29;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button:hover {
  background-color: #030a29;
  color: #0b7ef1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
